.codecopy {
  @import "primer-tooltips/index.scss";
  @import "primer-buttons/index.scss";

  position: relative;
  overflow: visible;

  .codecopy-btn {
    @extend .btn;
    @extend .btn-sm;

    transition: opacity 0.3s ease-in-out;
    opacity: 0;

    padding: 3px 6px;
    position: absolute;
    right: 5px;
    top: 5px;

    .codecopy-btn-icon {
      margin-top: -3px;
      position: relative;
      top: 3px;
    }

    &:focus {
      box-shadow: none;
    }
  }

  &:hover .codecopy-btn {
    opacity: 1;
  }
}
